<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.document.mapper.CommentMapper">

    <!--addComment-->
    <insert id="addComment" parameterType="map" useGeneratedKeys="true" keyColumn="commentid">
        insert into comment (docid,userid,content,commenttime) values (#{docid},#{userid},#{content},#{commenttime})
    </insert>

    <!--getCommentList-->
    <select id="getCommentList" parameterType="int" resultType="java.util.HashMap">
        select comment.userid as userid,user.username as username,user.userimgpath as userimgpath,comment.content as content,comment.commenttime as commenttime
        from user,comment where comment.docid=#{docid} and user.userid=comment.userid
    </select>

    <!--queryUseridByCommentid-->
    <select id="queryUseridByCommentid" parameterType="int" resultType="int">
        select userid from comment where commentid=#{commentid}
    </select>

    <!--deleteComment-->
    <delete id="deleteComment" parameterType="int">
        delete from comment where commentid=#{commentid}
    </delete>


</mapper>