<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.document.mapper.TeamMapper">

    <select id="getTeamByTeamId" parameterType="int" resultType="Team">
        select * from team where teamid=#{teamid}
    </select>

    <insert id="addTeam" parameterType="map" useGeneratedKeys="true" keyColumn="teamid">
        insert into team (teamname,intro,leaderid) values (#{teamname},#{intro},#{leaderid})
        <selectKey resultType="int" order="AFTER" keyProperty="teamid">
            select last_insert_id() as teamid
        </selectKey>
    </insert>

    <select id="getTeamMemberList" parameterType="int" resultType="java.util.HashMap">
        select user.userid as userid,user.username as username,user.userimgpath as userimgpath,teammember.teamperms as teamperms
            from user,teammember where teammember.teamid=#{teamid} and teammember.userid=user.userid and teammember.teamperms>0
    </select>

    <select id="getTeamDocList" parameterType="int" resultType="java.util.HashMap">
        select docid,title,modifytime from doc where teamid=#{teamid} and status=0 order by modifytime desc
    </select>

    <delete id="deleteTeam" parameterType="int">
        delete from team where teamid=#{teamid}
    </delete>
</mapper>